html,body{
    background-color: rgb(201, 126, 255);
    max-width:100%;
    width:100%;
}

h1{
    position: absolute;
    font-family: Tetris2;
    color: rgb(2, 243, 231);
    top: 50px;
    left: 50px;
}

#c1{
    border: solid 4px rgb(2, 243, 231);
    background: black;
    position: absolute;
    right: 550px;
    width: 300px;
    height: 600px;
    top: 5px;
}

#c2{
    border: solid 4px rgb(2, 243, 231);
    background: black;
    position: absolute;
    right: 304px;
    width: 150px;
    height: 150px;
    top: 5px;
}

#players{
    background-color: salmon;
    position: absolute;
    right: 354px;
    bottom: 280px;
    width: 104px;
}

#start{
    background-color: salmon;
    position: absolute;
    right: 354px;
    bottom: 240px;
    width: 104px;
}

#pause{
    background-color: salmon;
    position: absolute;
    right: 354px;
    bottom: 200px;
    width: 104px;
}

#exit{
    background-color: salmon;
    position: absolute;
    right: 354px;
    bottom: 160px;
    width: 104px;
}

button{
    border-color: turquoise;
    border-radius: 5px;
}

button:hover{
    border-color: turquoise;
    border-width: 3px;
}